h1{
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
}


h1 span {
  font-weight: bold;
}

body{
   font-family: 'Open Sans', sans-serif;
   text-align: center;
   margin-top: 0;
}

#hero{
  width: 592px;
  margin: auto;
}

#hero img{
  margin-bottom: 72;
}

h1{
font-family: 'inter', sans-serif;
font-size: 49;
line-height: 56px;
font-weight: normal;

margin-bottom: 32px;
}
        
span, a {
  color:#FF9900;
}

p, #footer{
  color: #7D7987;
  font-size: 14px;
  line-height: 28px;

}
#footer a + a  { 
margin-left: 28px;
}

#line{
  width: 568px;
  height: 0;

  margin: 0 auto 8px;

  border: 7px solid #eceff2;
}

#balls{
  position: fixed;
  bottom: 0px;
  right: 0px;
}